In [ ]:
from tweepy.streaming import StreamListener
from pymongo import MongoClient
from tweepy import OAuthHandler
from datetime import datetime
from tweepy import Stream
import json

In [ ]:
cluester = MongoClient("mongodb+srv://admin:leticiadogo@cluster0.9mcwy.mongodb.net/<TextMining>?retryWrites=true&w=majority")
db = cluester["TextMining"]
collection = db["TextMining"]

consumer_key = "H5ntx1Ek3nFyrdRUIvycZiGur"
consumer_secret = "OIKm45faaYnUQjOWsurmJIwjZS75EzZMe5RK489Rz6wTnbY9No"
access_token = "1373712740691415046-4B1Rz6XIEblIx1yvt13LvZkS2rTj8B"
access_token_secret = "J2nifBaXuWMpzHRp8nGTauBEKEff1fmIyqIb42Wx7PwaW"


auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

class MyListener(StreamListener):
    def on_data(self, dados):
        tweet = json.loads(dados)
        if tweet["lang"] == "en":
            id_str = tweet["id_str"]
            text = tweet["text"]
            obj = {"id_str":id_str,"text":text,}
            tweetind = collection.insert_one(obj).inserted_id
        return True
        
mylistener = MyListener()
mystream = Stream(auth, listener = mylistener)
keywords = ['Big Data', 'Python', 'Data Mining', 'Data Science', 'Machine Learning', 'RPA', 'Artificial intelligence']
mystream.filter(track=keywords)

In [16]:
dataset = [{"id_str": item["id_str"], "text": item["text"],} for item in collection.find()]

In [17]:
import pandas as pd

In [18]:
df = pd.DataFrame(dataset)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
import sklearn

In [22]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df.text)

In [32]:
word_count = pd.DataFrame(cv.get_feature_names(), columns=["word"])
word_count["count"] = count_matrix.sum(axis=0).tolist()[0]
word_count = word_count.sort_values("count", ascending=False).reset_index(drop=True)
word_count[0:60]

               word  count
0                rt    481
1               the    297
2             https    279
3                co    274
4                to    229
5                in    179
6              data    163
7               and    150
8                is    142
9                of    135
10           python    125
11          science    118
12             this    113
13              for    105
14         learning    103
15     intelligence     96
16              you     93
17       artificial     93
18          machine     86
19             that     68
20             with     63
21               it     62
22             just     57
23            about     56
24              can     55
25       healthcare     55
26              she     52
27       management     51
28               on     50
29            smart     50
30            disea     48
31       assistants     48
32         examples     48
33         witlinka     48
34    manufacturing     48
35        proactive     48
36           robots     48
37              was     46
38              now     46
39               we     42
40             more     41
41             your     40
42             said     39
43              top     39
44              are     39
45           people     39
46          showing     37
47              say     37
48          ontario     37
49             here     36
50               at     36
51  machinelearning     34
52          changed     34
53               as     34
54      brianlilley     34
55               sh     34
56              doc     33
57            tweet     33
58            trust     33
59          younger     33